absl-py==0.11.0
androguard==3.3.5
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
backcall==0.1.0
cached-property==1.5.2
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
future==0.17.1
gast==0.4.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.0
joblib==0.13.2
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lxml==4.4.1
Markdown==3.3.3

